body {
    font-family: Arial, sans-serif;
    background: #f3f3f3;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
}

.card {
    background: #fff;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 6px #ccc;
}

.card input {
    width: 100%;
    margin-bottom: 10px;
    padding: 9px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background: #0066ff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

.filters {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.filters input {
    flex: 1;
    padding: 9px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.entry {
    background: white;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px #aaa;
}

.entry strong {
    color: #333;
}

.totalBox {
    background: #e8ffe8;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: green;
}
